@font-face {
font-family: 'IranSans';
src: url('../assets/font/Iranian\ Sans.ttf') format('ttf');
}

body {
font-family: 'IranSans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    background-color:#222831;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    width: 600px;
    background-color:#393E46;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .login-form__card-image {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  
  .login-form__header-image {
    text-align: center;
    margin: 10px 0;
  }
  .login-form__title {
    color: #00ADB5;
  }
  
  .login-form__description {
    font-size: 24px;
    text-align: right; 
    margin-bottom:15px;
  }
  
  .login-form__subtitle {
    text-align: right;
    font-size: 48px Light;
  }
  
  .login-form__input-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
  }
  
  .login-form__input::placeholder {
    color: #fff;
  }
  
  .login-form__icon {
    width: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    background-color: #6d6d6d;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  .login-form__show-password {
    cursor: pointer;
    color: #fff; 
    position: absolute;
    left: 40px; 
    top: 50%;
    transform: translateY(-50%); 
  }
  
  .login-form__submit-button {
    width: 100%;
    padding: 10px;
    background-color: #00ADB5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .login-form__submit-button:hover{
    background-color: #0bd5e0;
  }
  .login-form p {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .login-form a {
    color: #fff;
  }

  .login-form a:hover{
    color: #00ADB5;
  }